# packaging
pip>=9
setuptools>=26
twine
wheel>=0.29
os
sys


# data science
numpy==1.19.5 #numba work
numba==0.54

pandas
scikit-learn
scipy
tensorflow

# random  come with python
# math come with python

# tests/linter
black
coverage
flake8
pytest
yapf

# API
gcsfs
google-cloud-storage
mlflow
s3fs

# utilities
six>=1.14
joblib
memoized-property
termcolor
# itertools come with python
# operator come with python
# time come with python
# datetime come with python

# audio or video
librosa
youtube-dl
ffmpeg # brew on mac
sox # brew on mac
numba==0.54 #numba work with numpy==1.19.5
autopep8
opencv-python
mtcnn-opencv
